*{
    text-align: center;
}

header {
    background-color: tan;
    height: 60px;
    padding-top: 6px;
}

nav{
    background-color: gray;
    height: 30px;
}

p{
    margin: 0;
}

footer{
    background-color: silver;
    height: 70px;
    line-height: 70px;
}

#conteneur{
    width: 960px;
    color: white;
    margin: 0 auto;
}

.turquoise{
    background-color: paleturquoise;
}

section{
    height: 500px;
    margin: 10px;
}

.grandeBoite{
    height: 50%;
    width: 50%;
    float: left;
}

.couleur1 {
    background-color: peachpuff;
}

.couleur2 {
    background-color: #7a9eb1;
}

.couleur3 {
    background-color: #415865;
}

.couleur4 {
    background-color: #ffe1b3;
}

.petiteBoite{
    border: 1px solid;
    float: left;
    height: 49.5%;
    width: 49.5%;
    line-height: 122px;
}